.banniere{
	font-family: 'Poppins', sans-serif;		
	font-weight:bold;
	font-size:70px;
	height:38%;
	padding-top:80px;
	color:white;
	margin-bottom:50px;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/uo_campus.png');
	background-repeat: no-repeat;
	background-size:100%;

}



body{
	font-family: 'Quicksand', sans-serif;
	background-image:linear-gradient(#fff,#a34b03);
	margin:0;
	padding:0;
}





/*global */
.boite {
	width:80%;
	margin:auto;
	overflow: hidden;

}
.icon{
	border-radius: 50%;
  	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 5px;
  	width: 100px;
  	height:100px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
}
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

<a href="paris.jpg">
  <img src="paris.jpg" alt="Paris">
</a>
}
header a img {
	width:100px;
	height:100px;
	position : relative;
	top:-50px;
	border : 1px solid black;

}

ul{
	margin:0;
	padding:0;
}

.button_1{
	height:38px;
	background:#990000;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color:#e6e6e6;
}

/*header*/

header {
	background :#990000;
	color :#e6e6e6;
	padding-top:30px;
	min-height:70px;
	border-bottom:#35424a 3px solid;
}

header a{
	color:white;
	text-decoration:none;
	font-size:16px; 
	padding-left:20px;
}

header ul{
	margin:0;
	padding:0;
}

header li {
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header #titre{
	float:left;
}

header #titre h1{
	margin:0px;
}

header nav{
	float:right;
	padding-right:20px;
}

header .highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}


/* lumieres */
#lumieres {
	width: 100%;
  	padding: 0 0%;
  	display: table;
  	margin: 0;
  	max-width: none;
  	height: 70vh;
    background-image:url("background.jpg");
    background-repeat:no-repeat;
  	background-size:cover;
  	text-align:center;
  	}

  section:nth-of-type(2n) {
    background-color: #FE4B74;
    background-image:url("https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350");

}

#lumieres h1{
	margin-top:120px;
	font-size:70px;
}

#lumieres p{
	font-size:40px;
}

#lumieres .boite{
	color:#e6e6e6;
	width: 100%;
  	padding: 0 0%;
  	display: table;
  	margin: 0;
  	max-width: none;
  	height: 70vh;
    background-image:url("img/background.jpg");
    background-repeat:no-repeat;
  	background-size:cover;
  	text-align:center;
}

#lumieres .boite h1{
	margin-top:50px; 
	}
	
#lumieres .boite img{
	opacity:0.5; 
	}	
#newsletter{
	padding:15px;
	color:#ffffff;
	background:#35424a;
}

#newsletter h1{
	float:left;
}

#newsletter form{
	float:right;
	margin-top:15px;
}

#newsletter input[type = "email"]{
	padding:4px;
	height:25px;
	width:250px;
}


/*grande_boite*/
#grande_boite{
	margin-top: 20px;
}


#grande_boite .petite_boite{
	float:left;
	text-align:center;
	width:25%;
	padding:43px;
}


#grande_boite .petite_boite img{
	width:90px;
}

footer{
	padding:10px;
	margin:auto;
	text-align:center;
	color:#e6e6e6;
	background-color:#990000;

}
#info{
	padding: 15px;
	box-sizing: border-box;

}
#follow{
	padding: 15px;
	box-sizing: border-box;
}
.footer .foot{
	width: 45%;
	float: left;
}



.footer_2 {
	padding:10px;
	margin-top:10px;
	color:#e6e6e6;
	background-color:#990000;
	text-align:center;
}


.btn{
	display: inline-block;
	width: 90px;
	height: 90px;
	background: #f1f1f1;
	margin: 10px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	color: #3498db;
	overflow: hidden;
	position: relative;

}

.btn img{
	line-height: 90px;
	font-size: 26px;
	transition: 0.2s linear;

}

.btn:hover img{
	transform: scale(1.3);

}

.btn::before{
	
	position: absolute;
	width: 120%;
	height:120%;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.btn:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes aaa{
0%{
	left:-110%;
	top:90%;
}50%{
	left:10%;
	top:30%;
}100%{
	top: -10%;
	left: -10%;
}

}

/*CSS for become.html*/
main{
	line-height:1.7;
}

.bckg_img{
	width: 100%;
	height: 75%;
}

.register{
	padding-bottom:1%;
	font-size:25px;

}
.button{
	background-color: #8f001a;
	width:50%;
	border: none;
	color: white;
	margin-top:10px;
	padding: 15px 32px;
	font-size: 22px;
	cursor:none;
}
.icone{
	border-radius:50%;
	width:180px;
	height:180px;
	margin-left:45%;
	margin-top:7%;
}

#register_overlay{
	height: 0%;
	width: 100%;
	position:fixed;
	z-index: 1; 
	left: 0;
	bottom: 0;
	overflow-x:hidden;
	transition: 0.4s;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255, 0.8) ), url('img/uo_campus.png');
	background-position:center;
	background-repeat: no-repeat;
	background-size:cover;
	
}
#register_overlay #closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	margin: 6% 5%;
	text-decoration: none;
	color: #818181;
	display: block;
	transition: 0.4s;
}
.register_overlay-content{
	position:relative;
	padding-left:5%;
	font-size:20px;
	margin-top:2.5%;
	text-align:center;
}
input{
	border-style:groove;
	border-left-color:#8f001a;
	border-bottom:4px solid #8f001a;
	height:40px;
	width:320px;
	font-size:17px;
	font-weight:bold;
	padding-left:20px;
	border-radius:4px;
}

/*CSS for services.html*/
#title{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}
 
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/*Rasha added (blocks)=> aboutR.html*/

.block{
	float:left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}
/*global clr */
.clr{
	clear: both;
}
#main-block{
	float:left;
	width: 70%;
	padding: 15px;
	box-sizing: border-box;
}
#side-block{
	float:right;
	width:30%;
	color: #fff;
	background-image:linear-gradient(black,#A52A2A);
	padding:15px;
	box-sizing: border-box;

}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
}

 