body {
	background-color: #A52A2A;
	font : 15px/1.5 Quicksand, Poppins, sans-serif;
	padding :0;
	margin:0;


}
/*global */
.box {
	width:80%;
	margin:auto;
	overflow: hidden;

}

header a img {
	width:100px;
	height:100px;
	position : relative;
	top:-50px;
	border : 1px solid black;

}

/*header*/

header {
	background :#FF5733;
	color :#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#35424a 3px solid;
}

header a{
	color:white;
	text-decoration:none;
	font-size:16px; 
	padding-left:20px;
}

header ul{
	margin:0;
	padding:0;
}

header li {
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header #advertising{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	padding-right:20px;
}
#titre1 {
	text-align: center;
	color:white;
}

IMG.logo {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#blocktext {
	color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
    background: pink;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}

#fin {
	color: yellow;
	background-color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/********MENU BAR************/
.menu_top{
	background-color: #DB0028;
	overflow: hidden;
	width:100%;
	height:65px;
}

.menu_top a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	font-size: 20px;
	height:100%
}

.menu_top a:hover {
	background-color: white;
	color: #DB0028;
}

.menu_top a.active{
	background-color: #8f001a;
	border: 0.5px solid #8f001a;
	color: white;	
}
