body {
	background-color: #A52A2A;
	font-family:'Quicksand', 'Poppins', sans-serif;
	padding :0;
	margin:0;


}
/*global */
.container {
	width:80%;
	margin:auto;
	overflow: hidden;
	color:#ffffff;

}

/*header*/

header {
	background :#FF5733;
	color :#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#35424a 3px solid;
}

#titre1 {
	text-align: center;
	color:white;
}

IMG.logo {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#blocktext {
	color: white;
	margin: 0;
    background: pink;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}

#fin {
	color: yellow;
	background-color: white;
}
